<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SRI SAI NEWS WEBSITE</title>
    <link rel="stylesheet" href="{% static 'css/newsstyles.css' %}" />
</head>
<body>
    <h1>Welcome to sai sir news website</h1>
    <hr/>
    <ul type="disc">
        <span>***Categories***</span><br/><br/>
        <li><a href="/india/"> India News</a></li>
        <li><a href="/sport/">Sport News</a> </li>
        <li><a href="tech/">Technology News</a> </li>
    </ul>
</body>
</html>